<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @author %>

    <% @author_books.each do |book| %>
      <%= render 'books/book', book: book %>
    <% end %>

    <%= link_to 'Edit this author', edit_author_path(@author), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Delete this author', @author, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <%= link_to 'Back to authors', authors_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Add book', new_book_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
  </div>
</div>
