<div id="<%= dom_id book %>" class='border shadow rounded-lg px-4 mt-4'>

  <div class='flex justify-between'>
    <p class="my-5 text-xl">
      <strong class="block font-medium mb-1">Book name:</strong>
      <%= book.name %>
    </p>

    <% if controller_name == 'books' %>
      <p class="my-5">
        <strong class="block font-medium mb-1">Author:</strong>
        <%= book.author.full_name %>
      </p>
    <% end %>
  </div>


  <div class='flex justify-between'>
    <p class="my-5">
      <strong class="block font-medium mb-1">Pages:</strong>
      <%= book.pages %>
    </p>
  
    <p class="my-5">
      <strong class="block font-medium mb-1">Status</strong>
      <%= book.get_status %> %
    </p>
  </div>


  <% if action_name != "show" %>
    <%= link_to "Show this book", book, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this book', edit_book_path(book), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
